.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: 'poor story';
  src: url("./font/PoorStory-Regular.ttf");
}

@font-face {
  font-family: 'notoblack';
  src: url("./font/NotoSansKR-Black.otf");
}

@font-face {
  font-family: 'notoblod';
  src: url("./font/NotoSansKR-Bold.otf");
}

@font-face {
  font-family: 'notolight';
  src: url("./font/NotoSansKR-Light.otf");
}

@font-face {
  font-family: 'notomedium';
  src: url("./font/NotoSansKR-Medium.otf");
}

@font-face {
  font-family: 'notoregular';
  src: url("./font/NotoSansKR-Regular.otf");
}

@font-face {
  font-family: 'notothin';
  src: url("./font/NotoSansKR-Thin.otf");
}
